*{
padding: 0; 
margin: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background: #f4f4f4;
}
i{
    margin-left: 10px;
}
hr{
    float: left;
    width: 100%;
    margin: 0;
}

/* Text */
a{
    text-decoration: none;
}
h1{
    font-size: 2.2em;
    text-align: center;
    color: #1d1d1d;
    font-weight: 200;
}
 
h2{
    font-size: 1.1em;
    font-weight: 300;
    text-align: center;
    margin: 10px;
    margin-bottom: 25px;
}
p{
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
}
li{
   margin-left: 40px;
   padding: 8px; 
}
.img_disc{
    text-align: right;
    font-size: 0.8em;
    margin-right: 25px;
    color: #5c5c5c;
}

  /* blocks */
.full_size_page{
    height: 100%;
}

.top_panel{
    float: left;
    background:  #1f1f1f;
    box-shadow: 0px 0px 1px rgba(57, 57, 57, 0.05);
    box-sizing: border-box;
    border: solid #efefef 1px;
    padding: 1px;
}
.content{
    display: none;
    width: 80%;
    margin-left: 10%;
    float: left;
    margin-bottom: 10px;
    box-shadow: 0px 0px 1px rgba(57, 57, 57, 0.05);
    font-family: 'Roboto Mono',sans-serif;
    box-sizing: border-box;
    border-left:solid #eaeaea 1px;
    border-right:solid #eaeaea 1px;
    background: #ffffff;
    padding: 20px;
    
}
.button_content{
    cursor: pointer;
    width: 80%;
    margin-left: 10%;
    float: left;
    box-shadow: 0px 0px 1px rgba(57, 57, 57, 0.05);
    font-family: 'Roboto Mono',sans-serif;
    box-sizing: border-box;
    border-top:solid #eaeaea 1px;
    border-left:solid #eaeaea 1px;
    border-right:solid #eaeaea 1px;
    background: #ffffff;
    padding: 20px;
}
.button_content:hover{
    background: #ffffff;
}
.content img{
    width: 100%;
    height: auto;
}
.content hr{
    margin-top: 10px;
    margin-bottom: 20px;
}
.content h1{
    width: 100%;
    float: left;
    margin-top: 10px;
    text-align: left;
    font-size: 1.5em;
    font-weight: 400;
    
}
.content p{
    float: left;
    font-size: 1em;
    font-weight: 400;
}
.tags{
    cursor: pointer;
    margin-top: 8px;
    margin-right: 10px;
    font-size: .9em;
    float: left;
    box-shadow: 0px 0px 1px rgba(57, 57, 57, 0.05);
    border-radius: 5px;
    background: #e6e6e6;
    padding: 5px;
}
.tags:hover{
    background: #ededed;
}
.about_me{
    font-family: 'Roboto Mono',sans-serif;
    float: left;
    margin-bottom: 10px;
    background: #ffffff;
    position: relative;
    min-height: 100%;
    box-shadow: 0px 0px 1px rgba(57, 57, 57, 0.05);
    box-sizing: border-box;
    border: solid #efefef 1px;
    
}
.circle_photo{
    border-radius: 100px;
    width: 100%;
    margin-top: 15px;
     box-shadow: 0px 0px 1px rgba(57, 57, 57, 0.05);
    border: 2px solid #f06969;
}

.name{
    font-weight: 300;
    line-height: 20px;
    float: left;
    width: 100%;
    margin-top: 30px;
    font-size: 1.3em;
}
.text_grey{
    font-style: italic;
    font-weight: 300;
    float: left;
   line-height: 20px; 
   font-size: 0.9em;
   color: #a3a3a3;
}
.text{
    font-weight: 300;
   float: left;
   margin-top: 15px;
   line-height: 24px; 
   font-size: 1em;
   color: #2c2c2c;
}
.title{
    width: 100%;
    background: #f0f0f0;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}
.title_left{
    font-size: 1em;
    width: 100%;
    margin-bottom: 2px;
    color: #313131;
    margin-top: 10px;
    float: left;
   
}
.title_right{
    font-size: 1em;
    margin-bottom: 2px;
    color: #313131;
    margin-top: 10px;
    text-align: right;
   
}
.social{
    margin-top: 10px;
    padding: 10px;
    float: left;
    height: 60px;
}
.social img{
    float: left;
    height: 100%;
}
.social a{
    
    float: left;
    width: 80%;
    padding: 10px;
    color: #525554;
    text-decoration: underline;
    text-align: center;
}

.change_languae{
    cursor: pointer;
    font-family: 'Roboto Mono',sans-serif;
    border: 3px solid #f2f2f2;
    float: right;
    padding: 10px;
    color: #ffffff;  
    transition: 0.4s all;
}
.change_languae:hover{
    color: #121212;
    background: #ffffff;
    transition: 0.4s all;
    text-decoration: none;
}




/* rate */
.rate{
    width: 100%;
    text-align: right;
    float: left;
    
}
.rate_line{
     height: 10px;
     width: 100%;
     float: left;
     background-size: 60% 100%;
     background: linear-gradient(270deg, #d26cd0 , #e5bea0 , #7fd1bc );
}

.line_m{
    width: 40%;
    height: 10px;
    background: #ffffff;
}
.line_s{
    width: 60%;
    height: 10px;
    background: #ffffff;
}
.line_l{
    width: 0%;
    height: 10px;
    background: #ffffff;
}
.circle{
    font-size: 10px;
    cursor: pointer;
    background: linear-gradient(270deg, #7fd1bc, #e5bea0, #d26cd0);
}
@media (max-width: 990px) {
    .content{
        width: 100%;
        margin-left: 0%;
    }
    .button_content{
        width: 100%;
        margin-left: 0%;
    }
 .circle_photo{
    border-radius: 200px;
    width: 30%;
    float: left;
    margin-left: 35%; 
    margin-top: 15px;
     box-shadow: 0px 0px 1px rgba(57, 57, 57, 0.05);
    border: 1px solid #f06969;
}
    .full_size_page{
        height: auto;
    }
    .name{
        text-align: center;
    }
    .text_grey{
        width: 100%;
        text-align: center;
    }
    .social a{
    float: left;
    width: 80%;
    margin-left: 3%;
    padding: 10px;
    color: #525554;
    text-decoration: underline;
    text-align: center;
}
}


.add_articles{
 padding-top: 15px;
 padding-bottom: 15px;
 display: none;
}
.add_articles input{
    padding: 8px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid silver;
    width: 100%;
}
.add_articles textarea{
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid silver;
    resize: none;
}
.hiddendiv{
    display: none;
    white-space: pre-wrap;
    width: 500px;
    min-height: 50px;
    word-wrap: break-word;
}
.add_articles button{
    float:right;
    padding: 8px;
    background: #eaeaea;
    width: 20%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
}
.konsult{
    text-decoration: none;
    text-align: center;
    float:left;
    padding: 8px;
    background: #7791a3;
    margin-left: 30%;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 40%;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fafafa;
    border: 1px solid #e5e5e5;
}
.konsult:hover{
    background: #698090;
    text-decoration: none;
    color: #d8e7f0;
}
.konsult:active{
    text-decoration: none;
}
.add_articles button:hover{
    background: #efefef;
}

*:focus{outline: none;}
/* header */
header{
    z-index: 3;
    position: fixed;
    width: 100%;
    float: left;
    padding-left: 8.333%;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px rgba(57, 57, 57, 0.19);
}
.fake_header{
    float: left;
    width: 100%;
    height: 60px;
    position: relative;
}
.header_a{
    font-size: 1em;
    cursor: pointer;
    color: #191919;
    float: left;
    padding: 15px 30px 15px 30px;
    height: 53px;
    box-sizing: border-box;
    border-bottom: 1px solid #d1d1d1;
    background: rgba(15, 50, 98, 0.01);
    text-align: center;
}
.header_a:hover{
    text-decoration: none;
    background: rgba(15, 50, 98, 0.04);
    padding: 15px 30px 14px 30px;
    border-bottom: 2px solid #d1d1d1;
    color: #6f6f6f;
}
.header_pr{
    border-bottom: 1px solid #779eaf;
    color: #657180;
    background: rgba(15, 50, 98, 0.04);
    font-size: 1em;
    cursor: pointer;
    float: right;
    padding: 15px 30px 15px 30px;
    height: 53px;
    width: 75px;
    box-sizing: border-box;
    text-align: center;
}
.header_pr:hover{
    text-decoration: none;
    background: rgba(15, 50, 98, 0.06);
    padding: 15px 30px 14px 30px;
    color: #779eaf;
    border-bottom: 2px solid #779eaf; 
}
.pr_active{
    border-bottom: 2px solid #779eaf; 
    color: #779eaf;
    background: rgba(15, 50, 98, 0.06);
    font-size: 1em;
    cursor: pointer;
    float: right;
    padding: 15px 30px 14px 30px;
    height: 53px;
    width: 75px;
    box-sizing: border-box;
    text-align: center;
}
.profile{
    display: none;
    z-index: 3;
    float: right;
    width: 75px;
    position: fixed;
    right: 0;
    top: 53px;
    box-sizing: border-box;
}
.profile a{
    text-decoration: none;
    color: #ececed;
    text-align: center;
    background: #566979;
    font-size: 1em;
    cursor: pointer;
    float: left;
    height: 70px;
    width: 75px;  
    padding: 23px;
    font-size: 1em;
}

.profile a:hover{
    border-left: 3px solid #779eaf;
    padding-left: 20px;
    background: #4d5e6c;
    color: #ffffff;
 
}



.header_login{
    border-bottom: 1px solid #779eaf;
    color: #657180;
    background: rgba(15, 50, 98, 0.04);
    font-size: 1em;
    cursor: pointer;
    float: right;
    padding: 15px 30px 15px 30px;
    height: 53px;
    box-sizing: border-box;
    text-align: center;
}
.header_login:hover{
    text-decoration: none;
    background: rgba(15, 50, 98, 0.06);
    padding: 15px 30px 14px 30px;
    color: #779eaf;
    border-bottom: 2px solid #779eaf; 
}
.logo{
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    padding: 15px 10px 15px 10px;
    border-bottom: 1px solid silver;
    float: left;
    height: 53px;
    
}
.logo:hover{
    transition: 0.1s all;
    border-bottom: 2px solid #838e93;
    color: #c3c4d0;
}
.logo h1{
    font-size: 1.3em;
    margin: 0;
    font-family: 'Century Gothic';
}
.logo:hover h1{
    color: #737781;
}
.uvaga{
    float: left;
    margin-left: 15%;
    width: 70%;
}